.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}
.App input {
  padding: 10px;
  margin: 10px;
}
.App input:focus {
  outline: none;
}
.App button {
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid gray;
}
.App p {
  color: red;
}
